.git
.gitignore
.gitea
node_modules
.output
.env
*.env.local
*.log
npm-debug.log*
.vscode
.idea
*.swp
*.swo
.DS_Store
Thumbs.db
tests
playwright.config.ts
vitest.config.ts
docker-compose.yaml
Caddyfile
README.md
CLAUDE.md
.stackblitzrc
.nvmrc
.tool-versions
.prettierrc
pnpm-lock.yaml
